<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
 <mapper namespace="com.nctclub.mapper.UserMapper">
 	 <insert id="insert" parameterType="userDTO">
        INSERT INTO users (id, userId, password, username, nickname, birthdate, phone, email, address, userrole, regdate)
        VALUES (USERS_SEQ.NEXTVAL, #{userId}, #{password}, #{username}, #{nickname}, #{birthdate}, #{phone}, #{email}, #{address}, #{userrole}, SYSDATE)
    </insert>
	
	<select id="userLogin" parameterType="userDTO" resultType="userDTO">
  		SELECT * FROM users WHERE userid = #{userId}
  	</select>
  	
   <select id="idCheck" resultType="userDTO">
		SELECT userId FROM users WHERE userid = #{userId}
	</select>
	
	 <resultMap id="NCTmemberResultMap" type="NCTmemberDTO">
        <id property="memberId" column="memberId" />
        <result property="name" column="name" />
        <result property="birthdate" column="birthdate" />
        <result property="nationality" column="nationality" />
        <result property="position" column="position" />
        <result property="mbti" column="mbti" />
        <result property="image" column="image" />
        <result property="regdate" column="regdate" />
        <result property="is_deleted" column="is_deleted" />
        <collection property="groupList" ofType="java.lang.String">
       		<result property="groupName" column="groupName" />
    	</collection>
    </resultMap>
	
	<!-- 엔시티 멤버 전체 선택하기 -->
	<select id="selectAllMembers" resultMap="NCTmemberResultMap">
  		SELECT memberId, name, birthdate, nationality, position, mbti, image, regdate, is_deleted, listagg(groupName, ', ') within group(order by groupName) AS groupName
		FROM nctmembers
   		JOIN nctgroups ON (nctmembers.memberId = nctgroups.memberRefId)
   		WHERE is_deleted = 0
   		GROUP BY memberId, name, birthdate, nationality, position, mbti, image, regdate, is_deleted
  	</select> 
  	
  	<!-- 엔시티 멤버 멤버아이디로 선택하기 -->
	 <select id="selectMember" resultMap="NCTmemberResultMap">
        SELECT m.memberId, m.name, m.birthdate, m.nationality, m.position, m.mbti, m.image, m.regdate, m.is_deleted, g.groupName
        FROM nctmembers m
        LEFT JOIN nctgroups g ON m.memberId = g.memberRefId
        WHERE m.memberId = #{memberId}
    </select>
    
   
	
 </mapper>
 