<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type= "com.nctclub.model.UserDTO" alias="userDTO" />
		<typeAlias type= "com.nctclub.model.NCTmemberDTO" alias="NCTmemberDTO" />
		<typeAlias type= "com.nctclub.model.CommentDTO" alias="commentDTO" />
		<typeAlias type= "com.nctclub.model.AddressDTO" alias="addressDTO" />
		
	</typeAliases>
  
</configuration>
