<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
 <mapper namespace="com.nctclub.mapper.AdminMapper">
  	<select id="selectAllusers" resultType="userDTO">
  		SELECT * FROM users
  	</select> 	
 	 
 	 <delete id = "deleteUser" parameterType = "String" >
 	 	DELETE FROM users WHERE userid = #{userId}
 	 </delete>

 </mapper>