<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
 <mapper namespace="com.nctclub.mapper.AdminMapper">
  	<select id="selectAllusers" resultType="userDTO">
  		SELECT * FROM users
  	</select> 	
 	 
 	 <delete id = "deleteUser" parameterType = "String" >
 	 	DELETE FROM users WHERE userid = #{userId}
 	 </delete>
 	
 	<insert id="insertMember" parameterType="NCTmemberDTO">
        INSERT INTO nctmembers (id, name, birthdate, nationality, position, mbti, image, regdate)
        VALUES (NCTMEMBERS_SEQ.NEXTVAL, #{name}, #{birthdate}, #{nationality}, #{position}, #{mbti}, #{image}, SYSDATE)
    </insert>

 </mapper>