<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
		<!-- Root Context: defines shared resources visible to all other web components -->
		<!-- 데이터베이스 설정 -->
		<!-- Member member = new Member() == <bean id="member" class="ez.web.Member"> -->
		
	<!-- JDNI 설정 -->	
	<!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
   	 <property name="jndiName" value="java:comp/env/jdbc/oracle"/>
	</bean>
	 -->

	<!--암호화 라이브러리-->
	<bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean> 
		
	<!-- db.properties 파일 연결-->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- property는 setter 메소드와 같다 -->
		<property name="locations" value="/WEB-INF/mybatis/db.properties"></property>
	</bean>
	
	<bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
	
	<!-- jdbc 설정(DataSource : 데이터베이스) -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="${driver}"/>
		<property name="url" value="${url}"/>
		<property name="username" value="${username}"/>
		<property name="password" value="${password}"/>
	</bean>
		
	<!-- MyBatis SqlSessionFactory 설정 -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource" />
			<property name="configLocation" value="/WEB-INF/mybatis/config.xml" />
	</bean>
	
	<context:component-scan base-package="com.nctclub.service" />
	<context:component-scan base-package="com.nctclub.model" />
	<mybatis-spring:scan base-package="com.nctclub.mapper" />
	
</beans>
